<h2>Login</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <label>Email</label>
  <input type="email" formControlName="email" />

  <div class="erro" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
    Email inválido.
  </div>

  <label>Senha</label>
  <input type="password" formControlName="senha" />

  <div class="erro" *ngIf="form.get('senha')?.invalid && form.get('senha')?.touched">
    Mínimo de 4 caracteres.
  </div>

  <button type="submit" [disabled]="form.invalid">Entrar</button>

  <p class="erro" *ngIf="error">{{ error }}</p>
</form>
