form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  padding: 6px;
  margin-bottom: 8px;
}

button {
  padding: 8px;
}

.erro {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 5px;
}
