<h2>Nova Tarefa</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <label>Título *</label>
  <input formControlName="title" />
  <div class="erro" *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
    Campo obrigatório.
  </div>

  <label>Descrição</label>
  <textarea formControlName="description"></textarea>

  <label>Disciplina *</label>
  <select formControlName="subjectId">
    <option value="">Selecione</option>
    <option *ngFor="let s of subjects" [value]="s.id">
      {{ s.name }}
    </option>
  </select>

  <div class="erro" *ngIf="form.get('subjectId')?.invalid && form.get('subjectId')?.touched">
    Escolha uma disciplina.
  </div>

  <label>Data de entrega *</label>
  <input type="date" formControlName="dueDate" />

  <div class="erro" *ngIf="form.get('dueDate')?.invalid && form.get('dueDate')?.touched">
    Informe uma data válida.
  </div>

  <button type="submit" [disabled]="form.invalid">Salvar</button>

  <p class="erro" *ngIf="error">{{ error }}</p>
</form>
